html {
    background: linear-gradient(180deg, rgb(225, 225, 225), rgb(146, 146, 146));
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: BreatheAnimation 30s ease infinite;
    -moz-animation: BreatheAnimation 12s ease infinite;
} 

@keyframes BreatheAnimation {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}

@-moz-keyframes BreatheAnimation {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}

.headingContainer {
    text-align: center;
}

.mainHeading {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 3.5em;
    display: inline-block;
    vertical-align: middle;
    color: rgb(232, 245, 14);
    text-shadow: -2px -2px 0 black, 
                 2px -2px 0 black, 
                 -2px 2px 0 black, 
                 2px 2px 0 black;
}

.logoContainer {
    display: inline-flex;
    width: 6em;
    height: 4em;
    margin-right: 0.5em;
    vertical-align: middle;
}

.fileCubeContainer {
    height: 6em;
    margin-bottom: 1em;
    margin-top: 1em
}

.bodyTextWhite, .fileCell p {
    color: white;
    text-shadow: -0.5px -0.5px 0 black, 
                 0.5px -0.5px 0 black, 
                 -0.5px 0.5px 0 black, 
                 0.5px 0.5px 0 black;         
    margin-right: 10%;
    margin-left: 10%;           
}

.fileGridContainer{
    display: grid;
    grid-template-columns:  33.33% 33.33% auto;
    max-width: 100%;
}

.fileCell {
    text-align: center;
    word-wrap: break-word;
    overflow: auto;
    margin: -1px;
    margin-bottom: 1em;
}

.fileDeleteButton {
    display: block;
    float: right;
    margin-right: 5%;
    margin-top: 7.5%;
    text-align: center;
    border-style: none;
    background-color: transparent;
    font-size: 0.75em;
    transition: 0.3s,
}

.fileDeleteButton:hover {
    color: rgb(232, 245, 14);
    text-shadow: -0.25px -0.25px 0 black, 
                0.25px -0.25px 0 black, 
                -0.25px 0.25px 0 black, 
                0.25px 0.25px 0 black;   
}
